@import "./vars";
@import "./common";

.app-page {
    background-color: $backgroundColor;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.goal-summary {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;

    .action-button {
        flex: 1;
    }

    .progress-summary {
        align-items: center;
        justify-content: center;
        font-weight: bold;
        display: flex;
        flex: 0.5;
    }
}

.action-button {
    @include button;
    font-size: 1rem;
    margin-top: 2rem;
}

.small-action-button {
    @include button;
    font-size: 1rem;
    min-width: 1rem;
    padding: 0.25rem 0.75rem;
}

input {
    border-radius: 0.5rem;
    min-width: 20rem;
    font-size: calc(10px + 5vmin);
    min-height: 5vh;
    text-align: center;
}

.recessive-link {
    color: $secondaryColor;
    font-size: 1rem;
}

.record-progress-form {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
}
